[Unit]
Description=Smart Parking Lot Dash Application
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
User=parkoviste
WorkingDirectory=/home/parkoviste/parking-lot-dash
Environment="PATH=/home/parkoviste/parking-lot-dash/venv/bin"
ExecStart=/home/parkoviste/parking-lot-dash/venv/bin/python3 /home/parkoviste/parking-lot-dash/src/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
